In [1]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json
import gmaps

# Google developer API key
from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

In [2]:
# Import cities file as DataFrame
bottom_counties_pd = pd.read_csv("data/bottom_counties_Sale_list_Ratio.csv")
bottom_counties_pd.head()

   Unnamed: 0             RegionName StateName    Month  Sale to List Ratio
0        7003        Sullivan County        NY  2014-06            0.787589
1       30197         Garrett County        MD  2015-12            0.796591
2       61195  Saint Lawrence County        NY  2018-01            0.800000
3       31007     Cattaraugus County        NY  2016-01            0.806452
4       16137         Douglas County        WI  2015-01            0.810472

In [3]:
# Add columns for lat, lng
# Note that we used "" to specify initial entry.
bottom_counties_pd["Lat"] = ""
bottom_counties_pd["Lng"] = ""

bottom_counties_pd.head()

,Unnamed: 0,RegionName,StateName,Month,Sale to List Ratio,Lat,Lng
0,7003,Sullivan County,NY,2014-06,0.787589,,
1,30197,Garrett County,MD,2015-12,0.796591,,
2,61195,Saint Lawrence County,NY,2018-01,0.800000,,
3,31007,Cattaraugus County,NY,2016-01,0.806452,,
4,16137,Douglas County,WI,2015-01,0.810472,,

In [4]:

params = {"key": gkey}

# Loop through the counties and run a lat/long search for each
for index, row in bottom_counties_pd.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"

    county = row['RegionName']
    state = row['StateName']

    # update address key value
    params['address'] = f"{county},{state}"

    # make request
    counties_lat_lng = requests.get(base_url, params=params)
    
    # convert to json
    counties_lat_lng = counties_lat_lng.json()

    bottom_counties_pd.loc[index, "Lat"] = counties_lat_lng["results"][0]["geometry"]["location"]["lat"]
    bottom_counties_pd.loc[index, "Lng"] = counties_lat_lng["results"][0]["geometry"]["location"]["lng"]

# Visualize to confirm lat lng appear
bottom_counties_pd.head()

,Unnamed: 0,RegionName,StateName,Month,Sale to List Ratio,Lat,Lng
0,7003,Sullivan County,NY,2014-06,0.787589,41.6897,-74.7805
1,30197,Garrett County,MD,2015-12,0.796591,39.5681,-79.2902
2,61195,Saint Lawrence County,NY,2018-01,0.800000,44.4473,-74.9302
3,31007,Cattaraugus County,NY,2016-01,0.806452,42.2318,-78.7476
4,16137,Douglas County,WI,2015-01,0.810472,46.349,-91.7577

In [5]:
# Save Data to csv
bottom_counties_pd.to_csv("output/county_output_bottom.csv")

In [6]:
# Create counties dataframe
low_counties_df = pd.read_csv('output/county_output_bottom.csv')
low_counties_df.dropna()
low_counties_df.head()

,Unnamed: 0,Unnamed: 0.1,RegionName,StateName,Month,Sale to List Ratio,Lat,Lng
0,0,7003,Sullivan County,NY,2014-06,0.787589,41.689749,-74.780519
1,1,30197,Garrett County,MD,2015-12,0.796591,39.568124,-79.290213
2,2,61195,Saint Lawrence County,NY,2018-01,0.800000,44.447314,-74.930206
3,3,31007,Cattaraugus County,NY,2016-01,0.806452,42.231813,-78.747621
4,4,16137,Douglas County,WI,2015-01,0.810472,46.349001,-91.757689

In [7]:
# Store latitude and longitude in locations
locations = low_counties_df[["Lat", "Lng"]]

# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations,  
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:

# Plost as a Hybrid map
fig = gmaps.figure(map_type="HYBRID")

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations,
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))